.traction-container {
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.traction-title {
    align-self: flex-start;
    padding-left: 3.5rem;
    height: auto;
    width: 100%;
}

.traction-title h1 {
    font-size: 7rem;
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.traction-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    box-sizing: border-box;
}

.traction-box {
    background-color: transparent;
    color: #9DA7C4;
    border-radius: 15px;
    border: 2px solid white;
    padding: 2rem;
    flex: 1 1 calc(20% - 2rem); /* Adjust this value to fit five boxes in a row */
    height: 250px; /* Ensure the height is greater than the width */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    align-items: center; /* Center text horizontally */
    transition: transform 0.1s;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(200px);
}

.traction-box h3 {
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: center; /* Ensure the text is centered */
}

.traction-box:hover {
    transform: scale(0.1);
}

@media (max-width: 1200px) {
    .traction-box {
        flex: 1 1 20%;
    }
}

@media (max-width: 768px) {
    .traction-title {
        padding-left: 2rem; /* Adjust left padding for smaller screens */
    }

    .traction-title h1 {
        font-size: 4rem; /* Decrease font size for smaller screens */
        margin-bottom: 1rem;
    }

    .traction-box {
        flex: 1 1 calc(45% - 2rem); /* Two boxes per row, with gap included */
        height: 200px;
    }
}

@media (max-width: 480px) {
    .traction-title h1 {
        font-size: 3rem; /* Further decrease font size for mobile */
    }

    .traction-box {
        flex: 1 1 calc(100% - 2rem); /* One box per row on mobile */
        height: 150px;
        padding: 1rem; /* Adjust padding for better spacing */
    }
}
